

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

.python_packages

local.settings.json

.env


__azurite

c:azuritedebug.log

local.settings.json

__azurite_db_queue__.json

__azurite_db_queue_extent__.json

c:__azurite

c:azurite

cazurite

.env

env


__pycache__


cazureitedebug.log

__azurite_db_blob__

__azurite_db_queue_extent__

__azurite_db_queue__

__azurite_db_table__

__azurite_db_queue__